#tickets {
  padding-top: 4em;
}

#tickets iframe {
  padding: 0.3em;
  border: #f2f2f2 1em solid;
  border-radius: 0.5em;
}

#tickets-tag {
  display: none;
  position: absolute;
  padding: 0.5em;
  background-color: #4DD4B2;
  border: #fff 0.3em solid;
  border-radius: 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  transform: rotate(10deg);
}

#tickets-tag-mobile {
  font-weight: 500;
  font-size: 1.1em;
  color: #fff;
  filter: brightness(0.9);
  background-color: #4DD4B2;
  border: #fff solid 1px;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  text-align: center;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
   #tickets-tag {
     display: block;
  }
   #tickets-tag-mobile {
     display: none;
  }
}
